
.class-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/banner-1544x500.png);
}
.example {
    margin-left: 20px;
    padding-right: 10px;
    float: left;
}